<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Footprint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A641A13A1B586C6A00B1035B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A641A14E1B586C6A00B1035B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A641A1591B586C6A00B1035B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
